{% extends 'main.html' %}   <!--  connect to main.html -->
{% block content %}

<br>
<div class="container-xxl d-flex align-items flex-column bd-highlight mb-3">
    <div class="d-flex justify-content-between p-2 bd-highlight"
        style="margin-bottom: 30px; height: 30px; position: relative; top: 8px;">
        <a href="{% url 'chatting_app:logout' %}" class="material-icons"
            style="color:gray; text-decoration-line : none">arrow_back_ios</a> <!-- Material Icon, logout -->
        <div>
            <h4>Chatting room</h4>
        </div>
        <div></div>
    </div>

    <div id="chatting" class="overflow-auto">   <!-- Div-id is for realtime-refresh  -->
        <br>

        {% if messages %}
        {% for message in messages %}

        {% if message.username == user.username %}  <!-- Current user's speech bubble -->
        {% if forloop.last %}<div id="last_msg"></div>{% endif %}   <!-- Only recent message has an id for anchor -->
        <div class="container d-flex bd-highlight mb-3 p-2 bd-highlight"
            style="background-color: #d2e0d8; border-top-left-radius: 2em; border-top-right-radius: 2em; border-bottom-left-radius: 2em;">
            <div id="username" class="p-2 bd-highlight">{{ message.username }}</div>
            
            {% if message.content == "Deleted message" %}   <!-- When message deleted -->
            <div id="deleted_content" class="p-2 bd-highlight">{{ message.content }} </div>
            <div id="create_date" class="ms-auto p-2 bd-highlight">{{ message.create_date | date:"Nd"}} <br><!-- Month, day-->
                {{message.create_date | date:"h:ia"}}</div> <!-- hour, minute, am_or_pm -->
            
                {% else %}  <!-- Regular messages (not deleted messages) -->
            <div id="content" class="p-2 bd-highlight">{{ message.content }} </div>
            <div id="create_date" class="ms-auto p-2 bd-highlight">{{ message.create_date | date:"Nd"}} <br>
                {{message.create_date | date:"h:ia"}}
                <br><a href="{% url 'chatting_app:message_delete' message.id %}"
                    style="color: #d47979; text-decoration-line: none;" class="delete material-icons delete">clear</a>
            </div>
            {% endif %}
        </div>

        {% else %}  <!-- Other user's speech bubble -->
        {% if forloop.last %}<div id="last_msg"></div>{% endif %}
        <div class="container d-flex bd-highlight mb-3 p-2 bd-highlight"
            style="background-color: #87e0ac; border-top-left-radius: 2em; border-top-right-radius: 2em; border-bottom-right-radius: 2em;">
            <div id="username" class="p-2 bd-highlight">{{ message.username }}</div>
            
            {% if message.content == "Deleted message" %}
            <div id="deleted_content" class="p-2 bd-highlight">
                
                {% else %}
                <div id="content" class="p-2 bd-highlight">
                    {% endif %} {{ message.content }}</div>
                <div id="create_date" class="ms-auto p-2 bd-highlight">{{ message.create_date | date:"Nd"}} <br>
                    {{message.create_date | date:"h:ia"}} </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>

        <!-- Message Text  -->
        <form id="form-id" action="{% url 'chatting_app:send'%}" method="POST"
            class="input-group flex-nowrap mt-auto p-2 bd-highlight">
            {% csrf_token %}
            <input type="text" name="text" class="text form-control" placeholder="Type a message..." aria-label="Username"
                aria-describedby="addon-wrapping">
            <a href="#" onclick="document.forms['form-id'].submit();"   
                style=" font-size: 2rem; text-decoration-line: none; position: relative; top: 8px;"
                class="material-icons">send</a><!-- href as 'post'  -->
        </form>
    </div>
</div>

{% endblock %}
