{% extends 'main.html' %}
{% block content %}

<br>
<div class="container-xxl d-flex align-items flex-column bd-highlight mb-3"
    style="padding: 100px 0; align-items: center; text-align: center; ">
    <h1 style="margin-bottom: 5rem;"> John's Chatting app</h1>
    <form method="post" action="{% url 'chatting_app:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" id="usernam" style="width: 500px;"
                value="{{ form.username.value|default_if_none:'' }}">
            <label for="floatingInput">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="password"
                value="{{ form.username.value|default_if_none:'' }}">
            <label for="floatingInput">Password</label>
        </div>

        <button type="submit" class="btn btn-primary" style="width: 500px; margin-bottom: 2rem;">login</button>
    </form>

    <p> Don't have an account? <a href="{% url 'chatting_app:signup' %}">Sign up</a></p>
</div>

{% endblock %}